<p id="notice"><%= notice %></p>

<h1>Lessors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Telephone</th>
      <th>Cellphone</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessors.each do |lessor| %>
      <tr>
        <td><%= lessor.name %></td>
        <td><%= lessor.lastName %></td>
        <td><%= lessor.telephone %></td>
        <td><%= lessor.cellphone %></td>
        <td><%= lessor.email %></td>
        <td><%= lessor.password %></td>
        <td><%= link_to 'Show', lessor %></td>
        <td><%= link_to 'Edit', edit_lessor_path(lessor) %></td>
        <td><%= link_to 'Destroy', lessor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lessor', new_lessor_path %>
