<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :numberPersons %>
    <%= f.number_field :numberPersons %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :idLessor_id %>
    <%= f.text_field :idLessor_id %>
  </div>

  <div class="field">
    <%= f.label :idTenant_id %>
    <%= f.text_field :idTenant_id %>
  </div>

  <div class="field">
    <%= f.label :idAddress_id %>
    <%= f.text_field :idAddress_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
